**/.DS_Store
.metadata/.bak_*
.metadata/.mylyn
.metadata/.plugins/org.eclipse.core.resources/.history
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history
/.metadata/.plugins/org.eclipse.jdt.junit.core/history
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings
